<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707908526276-ihvake5iic1o10rlko6jmpgsfjd36af5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707908526276-ihvake5iic1o10rlko6jmpgsfjd36af5</string>
	<key>API_KEY</key>
	<string>AIzaSyA_GgHY5KYqDtPQksmsti_nPnbE6RyMTYo</string>
	<key>GCM_SENDER_ID</key>
	<string>707908526276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MO.Notebook</string>
	<key>PROJECT_ID</key>
	<string>delete2-d3dd5</string>
	<key>STORAGE_BUCKET</key>
	<string>delete2-d3dd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:707908526276:ios:563110eebc54f81960e991</string>
</dict>
</plist>
